.gradle
build/
qa_hub_frontend/node_modules/

!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

gradle
gradlew
gradlew.bat

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/
/.config/env
/.config/
/qa_hub_backend/src/main/resources/debug/

/deploy_script.sh